main {
    margin: 0;
    padding: 1.5em;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
}

main div {
    width: 100%;
    text-align: center;
    background: rgb(66, 66, 66);
}


.canvas{
    margin: auto;
    padding: 10px;
    height:80vh !important;
    width:75vw !important;
}

.boxCountries{
    height: 50vh;
}

.flags-div {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}

#icon-tooltip{
    font-size: 1.1rem;
    color: rgb(126, 125, 125);
}

#icon-tooltip:hover {
    color: white;
}