main {
    margin: 0;
    padding: 1.5rem;
    box-sizing: border-box;
}

main {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, 1fr);
}

main div {
    width: 100%;
    text-align: center;
}

.box1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* background: cornflowerblue; */
    border: black 1px solid;
    
}
.box2 {
    background: darkgreen;
}
.box3 {
    background: darkred;
}

.canvas-gender{
    margin: auto;
    padding: 10px;
    height:80vh !important;
    width:75vw !important;
}