<main>
    <h1 class="text-center">Stats from Our Users</h1>
    <div class="pt-2">
        <h3>Genders</h3>
        <canvas class="canvas" baseChart [datasets]="genderChartData" [labels]="genderChartLabels"
            [options]="genderChartOptions" [legend]="chartLegend" [chartType]="genderChartType">
        </canvas>
    </div>
    <hr>
    <div class="pt-2">
        <h3>Age of our Users</h3>
        <canvas class="canvas" baseChart [data]="ageChartData" [labels]="ageChartLabels" [chartType]="ageChartType"
            [options]="ageChartOptions" [colors]="ageChartColors" [legend]="chartLegend">
        </canvas>
    </div>
    <hr>
    <div class="boxCountries pt-2">
        <div>
            <h4 class="pt-5 mt-3">Countries where we are present</h4>
        </div>
        <div class="pt-5">
            <span *ngFor="let c of userCountry | keyvalue ">
                <img src="https://www.countryflags.io/{{c.key}}/flat/48.png" alt="{{c.key}}">
                <span class="p-3">{{c.value}}</span>
            </span>
        </div>
    </div>
</main>