<ng-sidebar-container>
    <!-- A sidebar -->
    <ng-sidebar [(opened)]="opened" position='left' [showBackdrop]="opened" [dock]="false" [closeOnClickOutside]="true">
        <div class="float-right mt-2 mr-2">
            <button id="btn-close" closeSidebar type="button" class="btn btn-danger btn-sm text-white">
                <i class="fa fa-times-circle" aria-hidden="true"></i></button>
        </div><br>
        <div class="text-center">
            <ul class="menu list-group">
                <li class="list-group-item"><button class="btn btn-lg" ngbTooltip="Users"><i class="fa fa-users"
                            aria-hidden="true"></i>
                    </button>
                </li>
                <li class="list-group-item"><button class="btn btn-lg" ngbTooltip="Post"><i
                            class="fa fa-paste"></i></button>
                </li>
                <li class="list-group-item"><button class="btn btn-lg" ngbTooltip="Tags"><i class="fa fa-tags"
                            aria-hidden="true"></i></button></li>
            </ul>
        </div>
    </ng-sidebar>
    <!-- Page content -->
    <div ng-sidebar-content>
        <button *ngIf='!opened' (click)="toggleSidebar()" class="btn btn-sm btn-success">Open > </button>
    </div>

</ng-sidebar-container>