#btn-close {
    transition: all 0.5s ease;
    position: left;
    background-color: rgb(255, 135, 113); 
    border-radius: 30%;
    color: white;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0,0,0,0.1);
    box-shadow: -3px 1px 6px 0px rgba(0,0,0,0.1);
} 

#btn-close:hover {
    background-color: #fa0808;
}

.menu {
    margin-top: 4em;
    display: block;
}

.menu li {
    margin-bottom: 20px;
}

.menu li button {
   background-color: #03535a;
    border: none;
    color: #e2f3f5;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
  
.menu li button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    transform: translateY(-7px);
}

.list-group-item {
    background:  #086972;
    border: none;
}